<body>
  <main>
      <section class="spotlight">
    <h2 class="spotlight__header">
      <span class="spotlight__header--prefix">Media Spotlight</span>
      <a class="spotlight__link-to" href="/works/484">Le Petit Prince</a> by Antoine de Saint-Exupéry
    </h2>
    <p class="spotlight__description">
      10 votes - We also wants you to buy everything!
    </p>
  </section>

<hr class="root__hr">

<section class="top-ten__container">
  <section class="top-ten__list-container">
  <h2 class="top-ten__header">
    Top Movies
  </h2>
  <ul class="list-group top-ten__list">
      <li class="list-group-item">
        <h4>
          <%= link_to @movies.first.title, works_path %>
          <small class="top-ten__creator">by <%=@movies.first.creator%></small>
        </h4>
        <p>1 votes</p>
      </li>
  </ul>
  <!-- <a href="/works.movies">View More Movies</a> -->
</section>

  <section class="top-ten__list-container">
  <h2 class="top-ten__header">
    Top Books
  </h2>
  <ul>
      <li class="list-group-item">
        <h4>
          <%= link_to @books.first.title, works_path %>
          <small class="top-ten__creator">by <%=@books.first.creator%></small>
        </h4>
        <p>12 votes</p>
      </li>
  </ul>
  <!-- <a href="/works.books">View More Books</a> -->
</section>

  <section class="top-ten__list-container">
  <h2 class="top-ten__header">
    Top Albums
  </h2>
  <ul class="list-group top-ten__list">
      <li class="list-group-item">
        <h4>
          <%= link_to @albums.first.title, works_path %>
          <small class="top-ten__creator">by <%=@albums.first.creator%></small>
        </h4>
        <p>4 votes</p>
      </li>
  </ul>
  <!-- <a href="/works.albums">View More Albums</a> -->
  </section>
  </main>
</body>




