  <main>
  <h2><%=action_name%> work</h2>
  <section>
  <%= form_with model: @work do |f| %>
    <div class="form-group">
      <label>Category</label>
      <select class="form-control" name="work[category]"><option value="album">album</option>
      <option value="book">book</option>
      <option value="movie">movie</option></select>
    </div>

    <div class="form-group">
      <label>Title</label>
      <input class="form-control" type="text" name=<%=f.text_field :title%>
    </div>

    <div class="form-group">
      <label>Creator</label>
      <input class="form-control" type="text" name=<%=f.text_field :creator%>
    </div>

    <div class="form-group">
      <label>Publication year</label>
      <input class="form-control" type="text" name=<%=f.text_field :publication_year%>
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" name=<%=f.text_field :description%></textarea>
    </div>

    <div class="form-group">
      <%= f.submit "#{action_name}", class:"btn btn-primary" %>
    </div>
    <%end%>
    </section>
  </main>
