<body>
<main>
<h2>User Summary: <%=@user.name%></h2>
<p>Joined site <%=@user.created_at.to_date%></p>

<section class="user-votes__container">
  <h3 class="user-votes__header">Votes</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Media Title</th>
        <th>Created By</th>
        <th>Published</th>
        <th>Category</th>
        <th>Voted On</th>
      </tr>
    </thead>
    <tbody>
        <% if @user.votes.count > 0 %>
        <% @user.votes.each do |vote| %>
        <tr>
          <td><%= link_to vote.work.title, work_path(vote.work)%></td>
          <td><%= vote.work.creator%></td>
          <td><%= vote.work.publication_year%></td>
          <td><%= vote.work.category%></td>
          <td><%= (vote.created_at).to_date%></td>
        </tr>
        <%end%>
      <%end%>
    </tbody>
  </table>
</section>

<a class="btn btn-secondary" href="/users">See all Users</a>
<a class="btn btn-primary" href="/">Back to Media List</a>
</main>
</body>
